@{
    var currentNavigationKey = ViewBag.ManageNavigationKey;
}
<ul class="nav nav-pills nav-stacked">
    @RenderLink("Profile", Url.ManageProfile(), "Profile")
    @RenderLink("Preferences", Url.ManagePreferences(), "Preferences")
    @RenderLink("Email", Url.ManageEmail(), "Email")
    @RenderLink("Password", Url.ManagePassword(), "Password")
    @RenderLink("Logins", Url.ManageLogins(), "Logins")
</ul>

@helper RenderLink(string navigationKey, string url, string title)
{
    <li class="@(ViewBag.ManageNavigationKey == navigationKey ? "active" : "")"><a href="@url">@title</a></li>
}