@model ProfileViewModel
@{
    Layout = "_LayoutManageAccount.cshtml";
    ViewBag.Title = "Profile";
}

<h2 class="page-header">@ViewBag.Title</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { action = Url.ManageProfile(), enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ClientValidationErrorsContainer()
    <div class="form-group">
        @Html.LabelFor(m => m.AvatarFile, new { @class = "control-label" })
        <div class="avatar-edit">
            @Html.Partial("_Avatar", Model.AvatarIdentifier ?? string.Empty)
            <input type="file" name="AvatarFile" class="avatar-file-upload"/>
            @Html.HiddenFor(x => x.AvatarIdentifier) @*for having image across posts*@
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FullName, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Bio, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Bio, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Url, new { @class = "control-label" })
        @Html.PasswordFor(m => m.Url, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Location, new { @class = "control-label" })
        @Html.PasswordFor(m => m.Location, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <input type="submit" value="Update profile" class="btn btn-primary" />
    </div>
}