@model SetPasswordViewModel
@{
    Layout = "_LayoutManageAccount.cshtml";
    ViewBag.Title = "Create Password";
}

<h2 class="page-header">@ViewBag.Title</h2>

@using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ClientValidationErrorsContainer()
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <input type="submit" value="Set password" class="btn btn-primary" />
    </div>
}