@model UserViewModel
    
<div class="media user-profile">
    <div class="avatar">
        <img src="@Url.AvatarUrl(Model.User.AvatarIdentifier)" />
    </div>
    <div class="body">
        <h4 class="username">@Model.User.UserName</h4>
        @if (!string.IsNullOrEmpty(Model.User.Bio))
        {
            <p class="bio">
                @Model.User.Bio
            </p>
        }
        else
        {
            <p class="bio">
                The user did not provide a bio.
            </p>
        }
    </div>
</div>

<div class="panel">
    <p>
        Member for: <b title="@Model.User.CreatedDate">@Html.Age(Model.User.CreatedDate)</b><br />
        @if (!string.IsNullOrEmpty(Model.User.FullName))
        {
            <text>Full name: </text><b>@Model.User.FullName</b><br />
        }
        @if (!string.IsNullOrEmpty(Model.User.Location))
        {
            <text>Location: </text><b>@Model.User.Location</b><br />
        }
        @if (!string.IsNullOrEmpty(Model.User.Url))
        {
            <text>Website: </text> <a href="@Model.User.Url" target="blank" rel="nofollow">@Model.User.Url</a>
        }
    </p>
    <p>
        <a href="@Url.Compose(to: Model.User.UserName)" class="btn btn-default"><span class="fa fa-envelope"></span> Send message</a>
    </p>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Kudos</div>
    <ul class="list-group">
        <li class="list-group-item">Comment kudos: <b>@Model.CommentKudos</b></li>
        <li class="list-group-item">Link kudos: <b>@Model.PostKudos</b></li>
    </ul>
</div>

@if (Model.IsModerator && Model.ModeratingSubs != null && Model.ModeratingSubs.Count > 0)
{
    <div class="panel panel-default">
        <div class="panel-heading">Currently moderating</div>
        <ul class="list-group">
            @foreach (var sub in Model.ModeratingSubs)
            {
                <li class="list-group-item"><a href="@Url.Sub(sub)">@sub</a></li>
            }
        </ul>
    </div>
}