@model Subs.ReadModel.SubUserBanWrapped

<div class="ban ban-@Model.User.UserName" data-username="@Model.User.UserName">
    <input type="hidden" class="username" value="@Model.Item.UserName" />
    <input type="hidden" class="private-reason" value="@Model.Item.ReasonPrivate" />
    <div class="row">
        <div class="col-md-6">
            <div>
                User: @Model.User.UserName
            </div>
            <div>
                Banned on: @Model.Item.DateBanned
            </div>
        </div>
        <div class="col-md-6">
            <div>
                Banned by: @Model.BannedBy.UserName
            </div>
        </div>
        @if (!string.IsNullOrEmpty(Model.Item.ReasonPrivate))
        {
            <div class="col-md-12">
                <pre class="well">@Model.Item.ReasonPrivate</pre>
            </div>
        }
        <div class="col-md-12">
            <a href="javascript:void(0);" class="btn btn-danger" onclick="return unBanUser(this, '@Model.User.UserName');">Remove</a>&nbsp;
            <a href="javascript:void(0);" class="btn btn-default" onclick="return editBan(this);">Edit</a>
        </div>
    </div>
</div>