@using Subs.ReadModel
@model ReportedCommentsViewModel
@{
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
    ViewBag.Title = "Reported comments for /s/" + Model.Sub.Name;
}

<div class="row">
    <div class="col-lg-9 col-sm-8">
        <div class="form-group">
            <ul class="nav nav-tabs">
                <li class="@(ViewBag.ManageNavigationKey == "reportedposts" ? "active" : "")"><a href="@Url.ReportedPosts(Model.Sub.Name)">Reported posts</a></li>
                <li class="@(ViewBag.ManageNavigationKey == "reportedcomments" ? "active" : "")"><a href="@Url.ReportedComments(Model.Sub.Name)">Reported comments</a></li>
            </ul>
        </div>
        @if (Model.Comments != null && Model.Comments.Count > 0)
        {
            foreach (var comment in Model.Comments)
            {
                @Html.Partial("_CommentNode", new CommentNode(comment))
            }
        }
        else
        {
            <p>There are no comments to display.</p>
        }
    </div>
    <div class="col-lg-3 col-sm-4">
        @{Html.RenderSideBar(subId: Model.Sub.Id);}
    </div>
</div>