@model ModeratorsViewModel
@{
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
    ViewBag.Title = "Moderators of /s/" + Model.Sub.Name;
}

<div class="row">
    <div class="col-lg-9 col-sm-8">
        @if (Model.CurrentUserInvite != null)
        {
            <div id="invite-prompt" class="alert alert-info">
                <p>
                    You have been invited to become a moderator of this sub!
                </p>
                <p>
                    <button id="deny-invite" class="btn btn-danger">Deny</button>
                    <button id="accept-invite" class="btn btn-primary">Accept</button>
                </p>
            </div>
        }
        <h2 class="page-header">Moderators</h2>
        <table id="moderators" class="table table-condensed">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Moderator since</th>
                    <th>Permissions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Moderators != null && Model.Moderators.Count > 0)
                {
                    foreach (var moderator in Model.Moderators)
                    {
                        <tr class="moderator" data-sub-name="@moderator.Sub.Name" data-user-name="@moderator.User.UserName" data-permissions="@((int) moderator.Moderator.Permissions)">
                            <td class="user">@moderator.User.UserName</td>
                            <td class="added-on">@Html.Age(moderator.Moderator.AddedOn) ago</td>
                            <td class="permissions">@Html.ModeratorPermissionsText(moderator.Moderator.Permissions)</td>
                            <td class="actions">
                                @if (moderator.CanChangePermissions)
                                {
                                    <a href="javascript:void(0);" onclick="return skimurui.moderators.changePermissions(this);" class="btn btn-default btn-sm">Change</a>
                                }
                                @if (moderator.CanRemove)
                                {
                                    <a href="javascript:void(0);" onclick="return skimurui.moderators.removeMod(this);" class="btn btn-danger btn-sm">Remove</a>
                                }
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <p>There are no moderators to display.</p>
                }
            </tbody>
        </table>
        @if (Model.CanInvite)
        {
            <h3>Invites</h3>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Invite a moderator
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="form form-horizontal">
                            <div class="form-group">
                                <label for="invite-username" class="col-md-2 control-label">User name</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="invite-username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="invite-permissions-change" class="col-md-2 control-label">Permissions</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <input id="invite-permissions-display" type="text" class="form-control" value="All" readonly="readonly" />
                                        <div class="input-group-btn">
                                            <button id="invite-permissions-change" type="button" class="btn btn-default">Change</button>
                                        </div>
                                        <input id="invite-permissions-hidden" type="hidden" value="@((int) ModeratorPermissions.All)" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button id="invite-send" type="submit" class="btn btn-primary">Send invitation</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table id="invites" class="table table-condensed">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Invited</th>
                        <th>Permissions</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Invites != null && Model.Invites.Count > 0)
                    {
                        foreach (var invite in Model.Invites)
                        {
                            @Html.Partial("_ModeratorInvite", invite)
                        }
                    }
                    else
                    {
                        <tr class="empty">
                            <td colspan="4">There are no invites to display.</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

    <div class="col-lg-3 col-sm-4">
        @Component.SideBar(subId: Model.Sub.Id)
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#invite-permissions-change").click(function (e) {
            e.preventDefault();
            skimurui.displayChangePermissionsForm($("#invite-permissions-hidden").val(), function (newPermissions) {
                $("#invite-permissions-display").val(skimurui.buildModeratorPermissionsString(newPermissions));
                $("#invite-permissions-hidden").val(newPermissions);
            });
        });
        $("#invite-send").click(function (e) {
            e.preventDefault();
            var button = $(this).buttonStartLoading();
            var username = $("#invite-username").val();
            var permissions = $("#invite-permissions-hidden").val();
            skimur.inviteMod('@Model.Sub.Name', null, username, null, permissions, function (result) {
                button.buttonStopLoading();
                if (result.success) {
                    skimurui.displaySuccess("You have successly sent an invite.");
                    $("#invites tbody").prepend($("<tr class='moderator invite' data-sub-name='@Model.Sub.Name' data-user-name='" + username + "' data-permissions='" + permissions + "'>" +
                            "<td class='user'>" + username + "</td>" +
                            "<td class='invited-on'>0 seconds ago</td>" +
                            "<td class='permissions'>" + skimurui.buildModeratorPermissionsString(permissions) + "</td>" +
                            "<td class='actions'>" +
                                "<a href='javascript:void(0);' onclick='return skimurui.moderators.changePermissions(this);' class='btn btn-default btn-sm'>Change</a> " +
                                "<a href='javascript:void(0);' onclick='return skimurui.moderators.removeMod(this);' class='btn btn-danger btn-sm'>Remove</a>" +
                            "</td>" +
                        "</tr>"))
                        .find(".empty").remove();
                } else {
                    skimurui.displayError(result.error);
                }
            });
        });
        $("#deny-invite").click(function (e) {
            e.preventDefault();
            var button = $(this).buttonStartLoading();
            skimur.denyModInvite('@Model.Sub.Name', null, function (result) {
                button.buttonStopLoading();
                if (result.success) {
                    skimurui.displaySuccess("You have successly denied your invite.");
                    $("#invite-prompt").remove();
                } else {
                    skimurui.displayError(result.error);
                }
            });
        });
        $("#accept-invite").click(function (e) {
            e.preventDefault();
            var button = $(this).buttonStartLoading();
            skimur.acceptModInvite('@Model.Sub.Name', null, function (result) {
                button.buttonStopLoading();
                if (result.success) {
                    skimurui.displaySuccess("You have successly accepted your invite.");
                    $("#invite-prompt").remove();
                } else {
                    skimurui.displayError(result.error);
                }
            });
        });
    })
</script>