@model Subs.ReadModel.ModeratorInviteWrapped
<tr class="moderator invite" data-sub-name="@Model.Sub.Name" data-user-name="@Model.User.UserName" data-permissions="@((int) Model.ModeratorInvite.Permissions)">
    <td class="user">@Model.User.UserName</td>
    <td class="invited-on">@Html.Age(Model.ModeratorInvite.InvitedOn) ago</td>
    <td class="permissions">@Html.ModeratorPermissionsText(Model.ModeratorInvite.Permissions)</td>
    <td class="actions">
        <a href="javascript:void(0);" onclick="return skimurui.moderators.changePermissions(this);" class="btn btn-default btn-sm">Change</a>
        <a href="javascript:void(0);" onclick="return skimurui.moderators.removeMod(this);" class="btn btn-danger btn-sm">Remove</a>
    </td>
</tr>