@using Subs
@using Subs.ReadModel
@model CommentListModel

<div class="comments-container">
    @if (Model.Comments != null && Model.Comments.Count > 0)
    {
        foreach (var comment in Model.Comments)
        {
            @RenderComment(comment)
        }
    }
</div>

@helper RenderComment(CommentNode comment, bool isAlternateRow = false)
{
    <div class="comment@(isAlternateRow ? " alternate" : null)" data-post-slug="@Model.PostSlug" data-comment-id="@comment.Comment.Id">
        <div class="comment-voting @(comment.CurrentUserVote != null ? comment.CurrentUserVote == VoteType.Down ? "voted-down" : "voted-up" : "")">
            <span class="up login-required"></span>
            <span class="down login-required"></span>
        </div>
        <div class="comment-body">
            <div class="comment-tagline">
                <a href="javascript:void(0)" class="expand">[–]</a> <a href="/u/@comment.Author.UserName" class="author">@comment.Author.UserName</a> <span class="score">@(comment.Score) points</span> <time class="timestamp">@Html.Age(comment.Comment.DateCreated) ago</time>
            </div>
            <div class="comment-md">
                @Html.Raw(comment.Comment.BodyFormatted)
            </div>
            <textarea class="comment-md-unformatted hidden">@Html.Raw(comment.Comment.Body)</textarea>
            <ul class="comment-options">
                @if (comment.CanDelete)
                {
                    <li>
                        <a href="javascript:void(0);" class="delete">delete</a>
                    </li>
                }
                <li>
                    <a href="javascript:void(0);" class="reply">reply</a>
                </li>
                @if (comment.CanEdit)
                {
                    <li>
                        <a href="javascript:void(0);" class="edit">edit</a>
                    </li>
                }
            </ul>
            <div class="comment-staging hidden"></div>
        </div>
        @if (comment.Children != null && comment.Children.Count > 0)
        {
            foreach (var child in comment.Children)
            {
                @RenderComment(child, !isAlternateRow)
            }
        }
    </div>
}