@using Subs
@model CommentListModel

<div class="comments-container">
    @if (Model.Comments != null && Model.Comments.Count > 0)
    {
        foreach (var comment in Model.Comments)
        {
            @RenderComment(comment)
        }
    }
</div>

@helper RenderComment(CommentModel comment, bool isAlternateRow = false)
{
    <div class="comment@(isAlternateRow ? " alternate" : null)" data-post-slug="@Model.PostSlug" data-comment-id="@comment.Id">
        <div class="comment-voting @(comment.CurrentVote != null ? comment.CurrentVote == VoteType.Down ? "voted-down" : "voted-up" : "")">
            <span class="up login-required"></span>
            <span class="down login-required"></span>
        </div>
        <div class="comment-body">
            <div class="comment-tagline">
                <a href="javascript:void(0)" class="expand">[–]</a> <a href="/u/@comment.AuthorUserName" class="author">@comment.AuthorUserName</a> <span class="score">@(comment.VoteUpCount - comment.VoteDownCount) points</span> <time class="timestamp">@Html.Age(comment.DateCreated) ago</time>
            </div>
            <div class="comment-md">
                @Html.Raw(comment.BodyFormatted)
            </div>
            <textarea class="comment-md-unformatted hidden">@Html.Raw(comment.Body)</textarea>
            <ul class="comment-options">
                <li class="first">
                    <a href="javascript:void(0);" class="delete login-required">delete</a>
                    <a href="javascript:void(0);" class="reply login-required">reply</a>
                    <a href="javascript:void(0);" class="edit login-required">edit</a>
                </li>
            </ul>
            <div class="comment-staging hidden"></div>
        </div>
        @if (comment.Children != null && comment.Children.Count > 0)
        {
            foreach (var child in comment.Children)
            {
                @RenderComment(child, !isAlternateRow)
            }
        }
    </div>
}