@model CreateEditSubModel

<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @if (Model.IsEditing)
        {
            <p class="form-control-static">@Model.Name</p>
        }
        else
        {
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        }
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.SidebarText, new {@class = "col-md-2 control-label"})
    <div class="col-md-10">
        @Html.TextAreaFor(m => m.SidebarText, new {@class = "form-control", rows = 10})
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.SubmissionText, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextAreaFor(m => m.SubmissionText, new { @class = "form-control", rows = 10 })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.SubType, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DropDownListFor(m => m.SubType, Html.ItemsForEnum(m => m.SubType), new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Nsfw, new {@class = "col-md-2 control-label"})
    <div class="col-md-10">
        @Html.CheckBoxFor(x => x.Nsfw)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.InAll, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.CheckBoxFor(x => x.InAll)
    </div>
</div>
@if (Model.IsDefault.HasValue)
{
    <div class="form-group">
        @Html.LabelFor(m => m.IsDefault, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.CheckBox(Html.NameFor(x => x.IsDefault).ToHtmlString(), Model.IsDefault.Value)
        </div>
    </div>
}

<script type="text/javascript">
    $(function() {
        $("#@Html.IdFor(x => x.SidebarText)").markdown({ iconlibrary: "fa" });
        $("#@Html.IdFor(x => x.SubmissionText)").markdown({ iconlibrary: "fa" });
    });
</script>