@model List<Subs.ReadModel.SubWrapped>
@{
    ViewBag.Title = "Subs";
}

<div class="row">

    <div class="col-lg-9 col-sm-8">

        <h2>@ViewBag.Title</h2>
        <hr />
        @if (Model.Count == 0)
        {
            <p>
                @("No subs were found")
            </p>
        }
        else
        {
            using (var enumerator = Model.GetEnumerator())
            {
                while (enumerator.MoveNext())
                {
                    <div class="row">
                        <div class="col-md-6">@Html.Partial("_SubDetails", enumerator.Current)</div>
                        @if (enumerator.MoveNext())
                        {
                            <div class="col-md-6">@Html.Partial("_SubDetails", enumerator.Current)</div>
                        }
                    </div>
                }
            }
        }
    </div>
    <div class="col-lg-3 col-sm-4">

        <div class="panel">
            @Html.ActionLink("Create a sub", "Create", null, new { @class = "btn btn-primary btn-block" })
        </div>

        <div class="panel">
            <div class="input-group">
                <input id="subQuery" type="text" class="form-control" placeholder="Search..." value="@ViewBag.Query">
                <span id="subQuerySearch" class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-search"></span></span>
            </div>
        </div>

    </div>

</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#subQuerySearch").click(function (e) {
                e.preventDefault();
                var query = $("#subQuery").val();
                if (query) {
                    window.location = "@Url.Subs()?query=" + query;
                } else {
                    window.location = "@Url.Subs()";
                }
            });
            $("#subQuery").enterKey(function (e) {
                e.preventDefault();
                $("#subQuerySearch").click();
            });
        });
    </script>
}
