@using Subs
@model SubPosts
@{
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

<div class="row">
    <div class="col-lg-9 col-sm-8">
        @foreach (var post in Model.Posts)
        {
            <div class="post row" data-postslug="@post.Slug">
                <div class="post-voting @(post.CurrentVote != null ? post.CurrentVote == VoteType.Down ? "voted-down" : "voted-up" : "")">
                    <span class="up"></span>
                    <span class="votes">@(post.VoteUpCount - post.VoteDownCount)</span>
                    <span class="down"></span>
                </div>
                <div class="post-body">
                    <div>
                        <p class="post-title">
                            <a class="post-link" href="@PostUrl(post)">@post.Title</a> @(DomainLink(post))
                        </p>
                        <p class="post-meta">
                            Posted 10 hours ago
                        </p>
                        <p class="post-links">
                            <a href="@Url.Post(post.Slug, post.Title)">comments</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-lg-3 col-sm-4">

        <div class="panel">
            <a href="@Url.CreatePost()" class="btn btn-primary btn-block">Submit a new link</a>
            <a href="@Url.CreatePost()" class="btn btn-primary btn-block">Submit a new post</a>
        </div>

        @if (Model.Sub != null)
        {
            @Html.Action("ModerationSideBar", new { subName = Model.Sub.Name })
        }

    </div>
</div>

@helper DomainLink(PostModel post)
{
    if (post.PostType == PostType.Link)
    {
        if (!string.IsNullOrEmpty(post.Domain))
        {
            <a class="post-domain" href="@Url.Domain(post.Domain)">(@post.Domain)</a>
        }
    }
    else if (post.PostType == PostType.Text)
    {
        <a class="post-domain" href="@Url.Post(post.Slug, post.Title)">(self.@post.SubName)</a>
    }
}
@helper PostUrl(PostModel post)
{
    if (post.PostType == PostType.Link)
    {
        @post.Url
    }
    else if(post.PostType == PostType.Text)
    {
        @Url.Post(post.Slug, post.Title)
    }
}