@using Subs
@using Subs.ReadModel
@model PostDetailsModel
@{
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

<div class="row">
    <div class="col-lg-9 col-sm-8">
        @Html.Partial("_Post", Model.Post)

        @if (Request.IsAuthenticated)
        {
            <div class="row">
                <div class="form-group">
                    <textarea id="post-comment"></textarea>
                </div>
                <div class="form-group">
                    <button id="post-comment-submit" type="submit" class="btn btn-primary">Add comment</button>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <a href="javascript:skimurui.login.display('You must be logged in to comment.');" class="btn btn-default btn-lg"><span class="fa fa-comment"></span> Add comment</a>
            </div>
        }

        <div class="row">
            @if (Model.Comments != null)
            {
                <div class="page-header comments-header">
                    <div class="comments-text">Comments</div>
                    <div class="comments-sort">
                        Sort by:
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Model.Comments.SortBy <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="@(Model.Comments.SortBy == CommentSortBy.Best ? "active" : null)"><a href="@Url.ModifyQuery("commentsSort", "best")">Best</a></li>
                                <li class="@(Model.Comments.SortBy == CommentSortBy.Top ? "active" : null)"><a href="@Url.ModifyQuery("commentsSort", "top")">Top</a></li>
                                <li class="@(Model.Comments.SortBy == CommentSortBy.New ? "active" : null)"><a href="@Url.ModifyQuery("commentsSort", "new")">New</a></li>
                                <li class="@(Model.Comments.SortBy == CommentSortBy.Controversial ? "active" : null)"><a href="@Url.ModifyQuery("commentsSort", "controversial")">Controversial</a></li>
                                <li class="@(Model.Comments.SortBy == CommentSortBy.Old ? "active" : null)"><a href="@Url.ModifyQuery("commentsSort", "old")">Old</a></li>
                                <li class="@(Model.Comments.SortBy == CommentSortBy.Qa ? "active" : null)"><a href="@Url.ModifyQuery("commentsSort", "qa")">Qa</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                @Html.Partial("_Comments", Model.Comments)
            }
            else
            {
                <p>There are no comments yet.</p>
            }
        </div>


    </div>
    <div class="col-lg-3 col-sm-4">

        @Html.Partial("_SideBarSearch", new ViewDataDictionary(Model.Sub))

        <div class="panel">
            <a href="@Url.CreatePost()" class="btn btn-primary btn-block submit-link">Submit a new link</a>
            <a href="@Url.CreatePost()" class="btn btn-primary btn-block submit-post">Submit a new post</a>
        </div>

        @Html.Action("ModerationSideBar", new { subName = Model.Sub.Name })

    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/editor")
    <script type="text/javascript">
        $(function () {
            $("#post-comment").markdown({ autofocus: false, savable: false, iconlibrary: "fa" });

            $("#post-comment-submit").click(function (e) {
                e.preventDefault();
                skimur.createComment("@Model.Post.Slug", null, $("#post-comment").val(), function (result) {
                    if (result.success) {
                        $(result.html).prependTo($(".comments-container"));
                    } else {
                        skimur.displayError(result.error);
                    }
                });
            });

        });
    </script>
}
