@using Subs
@model PostDetailsModel
@{
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

<div class="row">
    <div class="col-lg-9 col-sm-8">
        @Html.Partial("_Post", Model.Post)

        <div class="row">
            <div class="form-group">
                <textarea id="post-comment"></textarea>
            </div>
            <div class="form-group">
                <button id="post-comment-submit" type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>

        @if (Model.Comments != null)
        {
            <div class="row">
                @Html.Partial("_Comments", Model.Comments)
            </div>
        }

    </div>
    <div class="col-lg-3 col-sm-4">

        @Html.Partial("_SideBarSearch", new ViewDataDictionary(Model.Sub))

        <div class="panel">
            <a href="@Url.CreatePost()" class="btn btn-primary btn-block">Submit a new link</a>
            <a href="@Url.CreatePost()" class="btn btn-primary btn-block">Submit a new post</a>
        </div>

        @Html.Action("ModerationSideBar", new { subName = Model.Sub.Name })

    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/editor")
    <script type="text/javascript">
        $(function () {
            $("#post-comment").markdown({ autofocus: false, savable: false });

            $("#post-comment-submit").click(function (e) {
                e.preventDefault();
                skimur.createComment("@Model.Post.Slug", null, $("#post-comment").val(), function (result) {
                    console.log(result);
                });
            });

        });
    </script>
}