@model SearchResultsModel
@{
    ViewBag.Title = "Search";
}
@{
    var o = new object();
}
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-search">
            <div class="input-group">
                <input id="search-input" type="text" class="form-control" placeholder="Search..." value="@Model.Query">
                <span id="search-button" class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-search"></span></span>
            </div>
        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.Query))
{
    <div class="row">
        <div class="col-lg-12">
            @if (Model.ResultType == null || Model.ResultType == SearchResultType.Sub)
            {
                <h2>Subs</h2>
                <hr />
                if (Model.Subs != null)
                {
                    if (Model.Subs == null || Model.Subs.Count == 0)
                    {
                        <p>
                            @("No subs were found")
                        </p>
                    }
                    else
                    {
                        using (var enumerator = Model.Subs.GetEnumerator())
                        {
                            while (enumerator.MoveNext())
                            {
                                <div class="row">
                                    <div class="col-md-6">@Html.Partial("_SubDetails", enumerator.Current)</div>
                                    @if (enumerator.MoveNext())
                                    {
                                        <div class="col-md-6">@Html.Partial("_SubDetails", enumerator.Current)</div>
                                    }
                                </div>
                            }
                        }

                        if (Model.Subs.HasPreviousPage || Model.Subs.HasNextPage)
                        {
                            <div class="row">
                                <div class="list-pager">
                                    @Html.Pager(Model.Subs, Url.ModifyQuery("resultType", "sub"))
                                </div>
                            </div>
                        }
                    }
                }
            }
            @if (Model.ResultType == null || Model.ResultType == SearchResultType.Post)
            {
                <h2>Posts</h2>
                <hr />
                if (Model.Posts == null || Model.Posts.Count == 0)
                {
                    <p>
                        @("No posts were found")
                    </p>
                }
                else
                {
                    foreach (var post in Model.Posts)
                    {
                        @Html.Partial("_Post", post)
                    }
                    if (Model.Posts.HasPreviousPage || Model.Posts.HasNextPage)
                    {
                        <div class="row">
                            <div class="list-pager">
                                @Html.Pager(Model.Posts, Url.ModifyQuery("resultType", "post"))
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
}

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#search-button").click(function (e) {
                e.preventDefault();
                var query = $("#search-input").val();
                if (query) {
                    window.location = "@(Model.LimitingToSub == null ? Url.Search() : Url.SubSearch(Model.LimitingToSub.Name))?query=" + query;
                } else {
                    window.location = "@(Model.LimitingToSub == null ? Url.Search() : Url.SubSearch(Model.LimitingToSub.Name))";
                }
            });
            $("#search-input").enterKey(function (e) {
                e.preventDefault();
                $("#search-button").click();
            });
        });
    </script>
}
