@model SearchResultsModel
@{
    ViewBag.Title = "Search";
}

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-search">
            <div class="input-group">
                <input id="search-input" type="text" class="form-control" placeholder="Search..." value="@Model.Query">
                <span id="search-button" class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-search"></span></span>
            </div>
        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.Query))
{
    <div class="row">
        <div class="col-lg-12">
            <h2>Subs</h2>
            <hr />
            @if (Model.LimitingToSub == null)
            {
                if (Model.Subs.Count == 0)
                {
                    <p>
                        @("No subs were found")
                    </p>
                }
                else
                {
                    using (var enumerator = Model.Subs.GetEnumerator())
                    {
                        while (enumerator.MoveNext())
                        {
                            <div class="row">
                                <div class="col-md-6">@Html.Partial("_SubDetails", enumerator.Current)</div>
                                @if (enumerator.MoveNext())
                                {
                                    <div class="col-md-6">@Html.Partial("_SubDetails", enumerator.Current)</div>
                                }
                            </div>
                        }
                    }
                }
            }
            <h2>Posts</h2>
            <hr />
            @if (Model.Posts.Count == 0)
            {
                <p>
                    @("No posts were found")
                </p>
            }
            else
            {
                foreach (var post in Model.Posts)
                {
                    @Html.Partial("_Post", post)
                }
            }
        </div>
    </div>
}

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#search-button").click(function (e) {
                e.preventDefault();
                var query = $("#search-input").val();
                if (query) {
                    window.location = "@Url.Search()?query=" + query;
                } else {
                    window.location = "@Url.Search()";
                }
            });
            $("#search-input").enterKey(function (e) {
                e.preventDefault();
                $("#search-button").click();
            });
        });
    </script>
}
