@model SubCss
@if (ViewBag.IsPreview)
{
    <form asp-action="CancelPreview" asp-controller="Styles" asp-route-subName="@ViewBag.PreviewStylesSubName" asp-route-returnUrl="@ViewContext.HttpContext.Request.RawUrl()">
        <div class="preview-alert">
            You are currently previewing a temporary style.<br />
            <button class="btn btn-danger">Discard</button>
            <a href="@Url.Styles((string)ViewBag.PreviewStylesSubName)" class="btn btn-primary">Continue editing</a>
        </div>
    </form>
}
@switch (Model.CssType)
{
    case CssType.None:
        break;
    case CssType.Embedded:
        <style type="text/css">@Html.Raw(Model.Embedded)</style>
        break;
    case CssType.ExternalCss:
        if (!string.IsNullOrEmpty(Model.ExternalCss))
        {
            <link href="@Model.ExternalCss" rel="stylesheet" />
        }
        break;
    case CssType.GitHubCss:
        if (!string.IsNullOrEmpty(Model.GitHubCssProjectName) && !string.IsNullOrEmpty(Model.GitHubCssProjectTag))
        {
            <link href="https://cdn.rawgit.com/@(Model.GitHubCssProjectName)/@(Model.GitHubCssProjectTag)/styles.css" rel="stylesheet" />
        }
        break;
    case CssType.GitHubLess:
        break;  // not done yet.
    default:
        break;
}