@{
    var navigationKey = ViewBag.NavigationKey;
}
<div class="header-nav">
    <div class="hidden-xs">
        <ul class="nav nav-tabs">
            <li class="@(navigationKey == "popular" ? "active" : null)"><a href="@Url.Subs()">@{ RenderTitle("popular"); }</a></li>
            <li class="@(navigationKey == "new" ? "active" : null)"><a href="@Url.SubsNew()">@{ RenderTitle("new"); }</a></li>
            @if (User.IsSignedIn())
            {
                <li class="@(navigationKey == "subscribed" || navigationKey == "moderating" ? "active" : null)"><a href="@Url.SubsSubscribed()">@{ RenderTitle("subscribed"); }</a></li>
            }
        </ul>
    </div>
    <div class="visible-xs-block">
        <ul class="nav nav-tabs">
            <li class="dropdown active">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                    @{ RenderTitle(navigationKey); } <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="@(navigationKey == "popular" ? "active" : null)"><a href="@Url.Subs()">@{ RenderTitle("popular"); }</a></li>
                    <li class="@(navigationKey == "new" ? "active" : null)"><a href="@Url.SubsNew()">@{ RenderTitle("new"); }</a></li>
                    @if (User.IsSignedIn())
                    {
                        <li class="@(navigationKey == "subscribed" || navigationKey == "moderating" ? "active" : null)"><a href="@Url.SubsSubscribed()">@{ RenderTitle("subscribed"); }</a></li>
                    }
                </ul>
            </li>
        </ul>
    </div>
</div>

@functions {
    public void RenderTitle(string navigationKey)
    {
        switch (navigationKey)
        {
            case "popular":
                ViewContext.Writer.Write("Popular");
                break;
            case "new":
                ViewContext.Writer.Write("New");
                break;
            case "subscribed":
                ViewContext.Writer.Write("My subs");
                break;
            case "moderating":
                ViewContext.Writer.Write("My subs");
            break;
        }
    }
}