@{
    Layout = "_LayoutCentered";
    ViewBag.Title = "Privacy policy";
}

<div class="container body-content">
    <div class="row">
        <div class="col-md-3 body-content-side hidden-sm hidden-xs">
            <div class="policies-sidebar">
                <ul class="nav nav-stacked nav-pills">
                    <li><a href="#about">About this policy</a></li>
                    <li><a href="#information-we-collect">What information we collect</a></li>
                    <li><a href="#cookie-policy">Cookie policy</a></li>
                    <li><a href="#account-deletion">Account deletion</a></li>
                    <li><a href="#data-security">Data security</a></li>
                    <li><a href="#children-under-thirteen">Children under 13</a></li>
                    <li><a href="#involuntary-pornography">Involuntary pornography</a></li>
                    <li><a href="#changes">Changes to this policy</a></li>
                    
                </ul>
            </div>
        </div>
        <div class="col-md-9 body-content-main">
            <div class="page-header">
                <h2>@ViewBag.Title</h2>
            </div>
            <section>
                <p>We take protecting your privacy seriously, and we want you to understand exactly how and why we use your information. This document is our privacy policy, which describes what information we collect and what it's used for. It applies to all interactions with Skimur.com, including interactions with our site through buttons and widgets. </p>
                <p>Please read this <a href="@Url.PrivacyPolicy()">privacy policy</a> carefully. Your use of and/or registration with Skimur will constitute your agreement to our policy. If you cannot agree to the terms and conditions set forth below, please do not use our services. Additionally, our <a href="@Url.PrivacyPolicy()">privacy policy</a> is part of our <a href="@Url.UserAgreement()">user agreement</a>, and by using Skimur you agree to both.</p>
            </section>
            <section id="about">
                <h3>About this policy</h3>
                <p>TBD</p>
            </section>
            <section id="information-we-collect">
                <h3>What information we collect</h3>
                <p>TBD</p>
            </section>
            <section id="cookie-policy">
                <h3>Cookie policy</h3>
                <h4>Authentication cookies</h4>
                <p>When you log into your account, Skimur will place a cookie for the sole purpose of creating this session. It contains your user id and hashed authentication information.</p>
                <h4>CSRF</h4>
                <p>A request verification cookie is used to prevent <a rel="nofollow" target="_blank" href="https://www.owasp.org/index.php/Cross-Site_Request_Forgery_(CSRF)_Prevention_Cheat_Sheet">CSRF</a>.</p>
                <h4>Analytics cookies</h4>
                <p>We use a tool called Google Analytics to help us understand how users interact with our website. It tells us aggregate usage and traffic information, such as how the site was accessed, how long visitors stayed, and the number of first-time visitors to the site. To learn more about Google Analytics and how it uses your data, please visit http://www.google.com/analytics/learn/privacy.html.</p>
                <h4>Disabling cookies</h4>
                <p>Most browsers include an option to clear existing cookies or reject new ones. However, if you do this, portions of the Skimur website may not function as intended.</p>
            </section>
            <section id="account-deletion">
                <h3>Account deletion</h3>
                <p>TBD</p>
            </section>
            <section id="data-security">
                <h3>Data security</h3>
                <p>Skimur will make every effort to secure any private information submitted to us by our users. However, no data transmission over the internet is completely secure, so we cannot guarantee the absolute security of this data. You use the service at your own risk, and are responsible for taking reasonable measures to secure your account (such as carefully maintaining the secrecy of your password).</p>
            </section>
            <section id="children-under-thirteen">
                <h3>Children under 13</h3>
                <p>Our Services are not directed to persons under 13. If you become aware that your child has provided us with personal information without your consent, please contact us. We do not knowingly collect personal information from children under 13. If we become aware that a child under 13 has provided us with personal information, we take steps to remove such information and terminate the child’s account.</p>
            </section>
            <section id="involuntary-pornography">
                <h3>Involuntary pornography</h3>
                <p>Skimur is committed to your privacy. If you believe that someone has submitted, without your permission, to Skimur a link to a photograph, video, or digital image of you in a state of nudity or engaged in any act of sexual conduct, please contact us, and we will expedite its removal as quickly as possible. Skimur prohibits the posting of such content without consent.</p>
            </section>
            <section id="changes">
                <h3>Changes to this policy</h3>
                <p>We may revise this privacy policy from time to time. The most current version of the policy will govern our use of your information and will always be at <a href="http://skimur.com/help/privacypolicy">http://skimur.com/help/privacypolicy</a>. By using Skimur, you agree to be bound by this policy.</p>
            </section>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.policies-sidebar').affix({
            offset: {
                top: $(".layout-topbar").height() + $(".layout-header").height()
            }
        });
        $('.policies-sidebar a[href*=#]:not([href=#])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').stop().animate({
                        scrollTop: target.offset().top - 50
                    }, 1000);
                    if (history.pushState) {
                        history.pushState(null, null, '#' + this.hash.slice(1));
                        return false;
                    }
                }
            }
        });
    });
</script>

@section header {
    @Html.Partial("_HeaderNav")
}