@model RegisterViewModel
<div class="row">
    <div class="col-sm-6">
        <h4>Register</h4>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { action = Url.Register() }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="returnUrl" value="@Request.RawUrl" />
            <div class="form-group">
                <div class="input-group">
                    @Html.TextBoxFor(x => x.Username, new { @class = "form-control", placeholder = "User name" })
                    <label for="@Html.IdFor(x => x.Username)" class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control", placeholder = "Password" })
                    <label for="@Html.IdFor(x => x.Password)" class="input-group-addon">
                        <i class="fa fa-key"></i>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm" })
                    <label for="@Html.IdFor(x => x.ConfirmPassword)" class="input-group-addon">
                        <i class="fa fa-key"></i>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email" })
                    <label for="@Html.IdFor(x => x.Email)" class="input-group-addon">
                        <i class="fa fa-envelope-o"></i>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        }
    </div>
    <div class="col-sm-6">
        <h4>Or...</h4>
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl, Action = "Register with" })
    </div>
</div>
