@model LoginViewModel
<div class="row">
    <div class="col-sm-6">
        <h4>Sign in</h4>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { action = Url.Login() }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="input-group">
                    @Html.TextBoxFor(x => x.Username, new { @class = "form-control", placeholder = "User name" })
                    <label for="@Html.IdFor(x => x.Username)" class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control", placeholder = "Password" })
                    <label for="@Html.IdFor(x => x.Password)" class="input-group-addon">
                        <i class="fa fa-key"></i>
                    </label>
                </div>
            </div>
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(x => x.RememberMe) Check me out
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign in" class="btn btn-primary" /> <a href="@Url.ForgotPassword()" class="pull-right">Forgot your password?</a>
            </div>
        }
    </div>
    <div class="col-sm-6">
        <h4>Or...</h4>
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl, Action = "Sign in" })
    </div>
</div>