@using Subs.ReadModel
@model UserViewModel
@{
    ViewBag.Title = "Comments for " + Model.User.UserName;
}

<div class="row">
    <div class="col-lg-9 col-sm-8">
        @Html.Partial("_Sorting")
        @if (Model.Comments != null && Model.Comments.Count > 0)
        {
            foreach (var comment in Model.Comments)
            {
                <div class="message">
                    <div class="message-header">
                        <a class="post" href="@Url.Post(comment.Sub, comment.Post)">@comment.Post.Title</a> in <a class="sub" href="@Url.Sub(comment.Sub.Name)">@comment.Sub.Name</a>
                    </div>
                    @Html.Partial("_CommentNode", new CommentNode(comment))
                </div>
            }
            if (Model.Comments.HasPreviousPage || Model.Comments.HasNextPage)
            {
                <div class="row">
                    <div class="list-pager">
                        @Html.Pager(Model.Comments)
                    </div>
                </div>
            }
        }
        else
        {
            <p>There are no items to display.</p>
        }
    </div>
    <div class="col-lg-3 col-sm-4">
        @{ Html.RenderPartial("_SideBar"); }
        @{ Html.RenderSideBar(); }
    </div>
</div>

@section header {
    @Html.Partial("_HeaderNav")
}