@model AccountHeaderViewModel

@if (Model.CurrentUser != null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <ul class="account-nav">
            <li class="profile">
                <a href="@Url.User(Model.CurrentUser.UserName)">@Model.CurrentUser.UserName</a>
            </li>
            <li class="divider"></li>
            <li class="inbox @(Model.NumberOfUnreadMessages > 0 ? "has-mail" : null)">
                <a href="@Url.Inbox()">
                    <i class="fa fa-envelope"></i>
                    @if (Model.NumberOfUnreadMessages > 0)
                    {
                        <span class="inbox-count">@Model.NumberOfUnreadMessages</span>
                    }
                </a>
            </li>
            <li class="divider"></li>
            <li class="manage">
                <a href="@Url.Action("Index", "Manage")">
                    <i class="fa fa-cog"></i>
                </a>
            </li>
            <li class="divider"></li>
            @if (User.IsInRole("Admin"))
            {
                <li class="admin">
                    <a href="@Url.Admin()">
                        <i class="fa fa-cog"></i>
                    </a>
                </li>
                <li class="divider"></li>
            }
            <li class="logoff"><a href="javascript:document.getElementById('logoutForm').submit()">log off</a></li>
        </ul>
    }
}
else
{
    <ul class="account-nav">
        <li class="register"><a href="@Url.Register()" id="register-link">register</a></li>
        <li class="divider"></li>
        <li class="login"><a href="@Url.Login()" id="signin-link">log in</a></li>
    </ul>
}