@{
    Layout = "_LayoutCentered";
}

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_ManageNavigation")
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>

@section messages {
    @if (IsSectionDefined("messages"))
    {
        @RenderSection("messages")
    }
    else
    {
        @Html.ErrorMessages()
        @Html.SuccessMessages()
    }
}