@model SidebarViewModel

@if (Model.ShowSearch) { Html.RenderPartial("_SideBarSearch", new ViewDataDictionary(Model.CurrentSub)); }

@if (Model.ShowSubmit || Model.ShowCreateSub)
{
    <div class="panel">
        @if (Model.ShowSubmit)
        {
            <a href="@Url.CreatePost(Model.CurrentSub != null ? Model.CurrentSub.Sub.Name : null)" class="btn btn-primary btn-block submit-link"><span class="fa fa-external-link"></span> Share a link</a>
            <a href="@Url.CreatePost(Model.CurrentSub != null ? Model.CurrentSub.Sub.Name : null)" class="btn btn-primary btn-block submit-post"><span class="fa fa-pencil-square-o"></span> Discuss</a>
        }
        @if (Model.ShowCreateSub && Model.CanCreateSub)
        {
            <a href="@Url.CreateSub()" class="btn btn-primary btn-block createsub-post"><span class="fa fa-pencil-square-o"></span> Create sub</a>
        }
    </div>
}

@if (Model.CurrentSub != null)
{
    <div class="sub-info">
        <h1 class="sub-name">@Model.CurrentSub.Sub.Name</h1>
        <a onclick="javascript:skimurui.subs.toggleSubscription(this, '@Model.CurrentSub.Sub.Name');" class="btn btn-default btn-sub @(Model.CurrentSub.IsSubscribed ? "subscribed" : "unsubscribed")">@(Model.CurrentSub.IsSubscribed ? "subscribed" : "unsubscribed")</a>
        <span class="sub-scribers @(Model.CurrentSub.IsNumberOfSubscribersFuzzed ? "fuzzed" : null)"><span class="number">@(Model.CurrentSub.IsNumberOfSubscribersFuzzed ? "~" : null)@Model.CurrentSub.NumberOfSubscribers.ToString("n0")</span> <span class="word">readers</span></span>
        @if (Model.NumberOfActiveUsers.HasValue)
        {
            <span class="sub-users-online @(Model.IsNumberOfActiveUsersFuzzed ? "fuzzed" : null)"><span class="number">@(Model.IsNumberOfActiveUsersFuzzed ? "~" : null)@Model.NumberOfActiveUsers.Value.ToString("n0")</span> <span class="word">users here now</span></span>
        }
    </div>
}

@if (Model.CurrentSub != null)
{
    if (Model.IsModerator)
    {
        <div class="panel panel-info">
            <div class="panel-heading">Moderation</div>
            <ul class="list-group">
                <li class="list-group-item"><a href="@Url.EditSub(Model.CurrentSub.Sub.Name)">Sub settings</a></li>
                <li class="list-group-item"><a href="@Url.MessagesForSub(Model.CurrentSub.Sub.Name)">Moderator mail</a></li>
                <li class="list-group-item"><a href="@Url.SubBans(Model.CurrentSub.Sub.Name)">Bans</a></li>
                <li class="list-group-item"><a href="@Url.Unmoderated(Model.CurrentSub.Sub.Name)">Unmoderated links</a></li>
            </ul>
        </div>
    }
    else
    {
        if (Model.Moderators != null && Model.Moderators.Count > 0)
        {
            <div class="panel panel-info">
                <div class="panel-heading">Moderators</div>
                <ul class="list-group">
                    @foreach (var mod in Model.Moderators)
                        {
                        <li class="list-group-item"><a href="@Url.User(mod.UserName)">@mod.UserName</a></li>
                    }
                </ul>
            </div>
        }
    }
}