<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Skimur</title>
    @Styles.Render("~/bundles/styles")
    <script type="text/javascript">
        window.q = [];
        window.$ = function (f) {
            q.push(f);
        };
        window.jQuery = function (f) {
            q.push(f);
        };
    </script>
</head>
@{
    var controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var action = ViewContext.RouteData.Values["action"].ToString().ToLower();
}
<body class="@(controller)-@(action)">
    @{ Html.RenderAction("TopBar", "Common"); }
    <div class="layout-header navbar">
        <div class="navbar-header">
            <a href="/" class="navbar-brand"><img src="/content/img/logo.png"/></a>
            @RenderSection("header", false)
        </div>
        <div class="navbar-collapse collapse">
            @{ Html.RenderAction("Account", "Common");}
        </div>
    </div>
    @RenderBody()
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        skimurui.isLoggedIn = @Request.IsAuthenticated.ToString().ToLower();
        $.each(q, function(index, f) {
            $(f);
        });
    </script>
    @{ Html.RenderPartial("_Analytics"); }
    @{ Html.RenderPartial("_LoginModal", new LoginViewModel()); }
</body>
</html>
