<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Skimur</title>
    @Styles.Render("~/bundles/styles")
    <script type="text/javascript">
        window.q = [];
        window.$ = function (f) {
            q.push(f);
        };
        window.jQuery = function (f) {
            q.push(f);
        };
    </script>
</head>
@{
    var controller = ViewContext.RouteData.Values["controller"];
    var action = ViewContext.RouteData.Values["action"];
}
<body class="@(controller)-@(action)">
    @Html.Action("TopBar", "Subs")
    <div class="layout-header navbar">
        <div class="navbar-header">
            <a href="/" class="navbar-brand"><img src="/content/img/logo.png"/></a>
            @RenderSection("header", false)
        </div>
        <div class="navbar-collapse collapse">
            @*<ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>*@
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    @RenderBody()
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $.each(q, function (index, f) {
            $(f);
        });
    </script>
</body>
</html>
