@using Subs
@using Subs.ReadModel
@model PostWrapped

<div class="post row" data-post-id="@Model.Post.Id">
    <div class="post-voting @(Model.CurrentUserVote != null ? Model.CurrentUserVote == VoteType.Down ? "voted-down" : "voted-up" : "")">
        <span class="up login-required"></span>
        <span class="votes">@(Model.Post.VoteUpCount - Model.Post.VoteDownCount)</span>
        <span class="down login-required"></span>
    </div>
    <div class="post-body">
        <div>
            <p class="post-title">
                <a class="post-link" href="@PostUrl(Model)">@Model.Post.Title</a> @(DomainLink(Model))
            </p>
            <p class="post-meta">
                Posted @Html.Age(Model.Post.DateCreated) ago  to <a href="@Url.Sub(Model.Sub.Name)">/s/@Model.Sub.Name</a>
            </p>
            <p class="post-links">
                <a href="@Url.Post(Model.Sub, Model.Post)">comments</a>
            </p>
        </div>
    </div>
</div>

@helper DomainLink(PostWrapped post)
{
    if (post.Post.PostType == PostType.Link)
    {
        if (!string.IsNullOrEmpty(post.Post.Domain))
        {
            <a class="post-domain" href="@Url.Domain(post.Post.Domain)">(@post.Post.Domain)</a>
        }
    }
    else if (post.Post.PostType == PostType.Text)
    {
        <a class="post-domain" href="@Url.Post(Model.Sub, Model.Post)">(self.@post.Sub.Name)</a>
    }
}
@helper PostUrl(PostWrapped post)
{
    if (post.Post.PostType == PostType.Link)
    {
        @post.Post.Url
    }
    else if (post.Post.PostType == PostType.Text)
    {
        @Url.Post(post.Sub, post.Post)
    }
}