@model LoginViewModel

<div class="row">
    <div class="col-sm-6">
        <h4>Sign in</h4>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { action = Url.Login() }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="returnUrl" value="@Context.Request.Host" />
            <div class="form-group">
                <div class="input-group">
                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", placeholder = "User name" })
                    <label for="@Html.IdFor(x => x.UserName)" class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password" })
                    <label for="@Html.IdFor(x => x.Password)" class="input-group-addon">
                        <i class="fa fa-key"></i>
                    </label>
                </div>
            </div>
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(x => x.RememberMe) Remember me?
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign in" class="btn btn-primary" /> <a href="@Url.ForgotPassword()" class="pull-right">Forgot your password?</a>
            </div>
        }
    </div>
    <div class="col-sm-6">
        <h4>Or...</h4>
        @{ await Html.RenderPartialAsync("_ExternalLoginsList", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl, Action = "Sign in" }); }
    </div>
</div>