@using Subs
@model StylesEditModel

@{
    ViewBag.Title = "Styles for " + Model.Sub.Name;
}

<div class="row">
    <div class="col-lg-9 col-sm-8">
        <h1 class="page-header">@ViewBag.Title</h1>
        @using (Html.BeginForm(null, null, FormMethod.Post, new {action = Url.Styles(Model.Sub.Name), @class = "form form-substyles", role = "form"}))
        {
            @Html.AntiForgeryToken()

            <ul class="nav nav-tabs" role="tablist">
                <li id="none-tab" role="presentation" class="@(Model.CssType == CssType.None ? "active" : "")" data-css-type="@CssType.None"><a href="#none" role="tab" data-toggle="tab">None</a></li>
                <li id="embedded-tab" role="presentation" class="@(Model.CssType == CssType.Embedded ? "active" : "")" data-css-type="@CssType.Embedded"><a href="#embedded" role="tab" data-toggle="tab">Embedded</a></li>
                <li id="external-tab" role="presentation" class="@(Model.CssType == CssType.ExternalCss ? "active" : "")" data-css-type="@CssType.ExternalCss"><a href="#external" role="tab" data-toggle="tab">External</a></li>
                <li id="github-css-tab" role="presentation" class="@(Model.CssType == CssType.GitHubCss ? "active" : "")" data-css-type="@CssType.GitHubCss"><a href="#githubcss" role="tab" data-toggle="tab"><i class="fa fa-github"></i> Github CSS</a></li>
                <li id="github-less-tab" role="presentation" class="@(Model.CssType == CssType.GitHubLess ? "active" : "")" data-css-type="@CssType.GitHubLess"><a href="#githubless" role="tab" data-toggle="tab"><i class="fa fa-github"></i> Github LESS</a></li>
            </ul>

            @Html.HiddenFor(m => m.CssType)

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane @(Model.CssType == CssType.None ? "active" : "")" id="none">
                    <div class="form-group">
                        <p class="alert alert-default">
                            sdf
                        </p>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane @(Model.CssType == CssType.Embedded ? "active" : "")" id="embedded">
                    <div class="form-group">
                        <pre id="embedded-editor" style="height: 500px;">@Model.Embedded</pre>
                    </div>
                    @Html.HiddenFor(m => m.Embedded)
                </div>
                <div role="tabpanel" class="tab-pane @(Model.CssType == CssType.ExternalCss ? "active" : "")" id="external">
                    <div class="form-group">
                        External css
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane @(Model.CssType == CssType.GitHubCss ? "active" : "")" id="githubcss">
                    <div class="form-group">
                        Github Css
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane @(Model.CssType == CssType.GitHubLess ? "active" : "")" id="githubless">
                    <div class="form-group">
                        Github less
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" name="preview" onclick="$('#@Html.IdFor(m => m.Embedded)').val(editor.getSession().getValue()); $(this).click(); $(this).buttonStartLoading();">Preview</button>
                <button class="btn btn-default" name="save" onclick="$('#@Html.IdFor(m => m.Embedded)').val(editor.getSession().getValue()); $(this).click(); $(this).buttonStartLoading();">Save</button>
            </div>
        }
    </div>

    <div class="col-lg-3 col-sm-4">
        @{Html.RenderSideBar(subId: Model.Sub.Id);}
    </div>
</div>

@{ Html.RenderEditorScripts(); }
<script type="text/javascript">
 
    var editor = ace.edit("embedded-editor");
    editor.setShowPrintMargin(false);
    editor.setTheme("ace/theme/github");
    editor.getSession().setMode("ace/mode/css");

    $(function() {
        $("#none-tab, #embedded-tab, #external-tab, #github-css-tab, #github-less-tab").click(function (e) {
            $("#@Html.IdFor(m => m.CssType)").val($(this).data("css-type"));
        });
    });

</script>